[Unit]
Description=Serial Monitor
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/{USERNAME}/.local/bin/poetry --directory /home/{USERNAME}/serial-monitor/ run /home/{USERNAME}/serial-monitor/src/main.py
User={USERNAME}
Group={USERNAME}
ExecStart=/home/{USERNAME}/.pyenv/shims/poetry --directory /home/{USERNAME}/stuff/serial-monitor/ run /home/{USERNAME}/stuff/serial-monitor/src/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
